<%= turbo_stream_from "answers" %>

<div class="pt-12 z-10 relative">
  <div class="flex flex-col items-center justify-center">
    <div id="question" class="relative group transform-gpu transition ease-in-out duration-200">
      <div class="absolute -inset-2 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 animate-tilt"></div>
        <button class="relative px-7 py-4 bg-black rounded-lg leading-none flex items-center divide-x divide-gray-600">
          <h1 class="text-white text-8xl text-center relative">
            <%= @question.word %>
          </h1>
        </button>
      </div>
    </div>
    
    <div
      data-controller="countdown"
      data-countdown-endtime-value="<%= (Time.now + 31.seconds).rfc2822 %>"
      data-countdown-next-value="<%= @next_question %>"
      class="mt-6 text-8xl text-white font-bold text-center"
    >
      30
    </div>
  </div>

  <div id="results" class="hidden">
    <div class="relative z-10 flex flex-wrap items-center justify-center gap-6">
      <% @question.related_words.first(10).each do |word| %>
        <div class="inline-flex items-center justify-center w-44 h-44 rounded-full border-2 border-pink-600 bg-pink-600">
          <span class="text-white text-4xl text-center"><%= word %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<audio autoplay>
  <source src="/intro.mp3" type="audio/mp3">
</audio>
