<div class="pt-36 z-10 relative">
  <div class="flex flex-col items-center gap-12">
    <div class="flex flex-col gap-4 justify-center items-center">
      <h1 class="text-6xl text-white">Thank you for joining VICAP 2022</h1>
      <%= link_to "Ranking", rank_path, class: "w-36 rounded text-center text-lg text-white bg-pink-600 hover:bg-pink-700 px-12 py-3 uppercase" %>
    </div>
  </div>
</div>
