<div class="pt-12">
  <div class="flex flex-col items-center gap-12">
    <div class="flex flex-col gap-4">
      <h1 class="text-4xl text-white">VICAP 2022</h1>
      <%= link_to "Game On", question_path(Question.first.id), class: "rounded text-center text-lg text-white bg-pink-600 hover:bg-pink-700 px-12 py-3 uppercase" %>
    </div>

    <div class="text-center">
      <h3 class="text-white font-bold">Scan QR Code to start</h3>
      <div class="rounded mt-2 border-4 border-pink-600 shadow-xl shadow-pink-500/50 bg-transparent z-10 relative p-4">
        <%= render inline: @qr_svg %>
      </div>
    </div>
  </div>
</div>

<audio class="fixed z-10 bottom-2 left-0" controls>
  <source src="/intro.mp3" type="audio/mp3">
</audio>
