<div class="py-12 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-full overflow-y-auto relative z-10">
  <div class="">
    <h1 class="text-9xl text-white">Ranking</h1>
  </div>>
  
  <div class="flex items-center justify-between">
    <div class="">
      <span class="text-pink-600 text-8xl">Attendee</span>
    </div>

    <div>
      <span class="text-pink-600 text-8xl">Score</span>
    </div>
  </div>

  <% @users.each do |user| %>
    <div class="flex items-center justify-between">
      <div class="">
        <span class="text-white text-6xl"><%= user.username %></span>
      </div>

      <div>
        <span class="text-white text-6xl"><%= user.answers.sum(:score) %></span>
      </div>
    </div>
  <% end %>
</div>
