<div class="sm:mx-auto sm:w-full sm:max-w-md px-4">
  <h2 class="text-center mb-8 text-xl">Enter your ID to get started</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="flex flex-col gap-1">
      <%= f.label :login, "ID" %>
      <%= f.text_field :login, autofocus: true %>
    </div>

    <div class="hidden">
      <%= f.label :password %>
      <%= f.password_field :password, value: "123456" %>
    </div>

    <div class="mt-4">
      <%= f.submit "Game on", class: 'cursor-pointer w-full bg-blue-600 text-white px-2 py-3 hover:bg-blue-700' %>
    </div>
  <% end %>
</div>
