<div id="<%= dom_id(question) %>" class="mt-8">
  <% if question.value.to_i > 0 && question.status == "open" %>
    <%= form_with(url: answer_user_index_path) do |f| %>
      <div class="flex flex-col gap-1">
        <h3 class="text-center text-xl">Enter your keyword for</h3>
        <div class="w-56 h-12 bg-gray-200 text-center flex items-center justify-center mx-auto">
          <%= Question.find(question.value.to_i).word %>
        </div>
      </div>

      <div class="mt-8 flex flex-col gap-1">
        <%= f.text_field :content, autofocus: true, autocomplete: "off" %>
        <%= f.hidden_field :question_id, value: Question.find(question.value.to_i).id %>
      </div>

      <div class="mt-4">
        <%= f.submit "Submit", class: 'cursor-pointer w-full bg-blue-600 text-white px-2 py-3 hover:bg-blue-700' %>
      </div>
    <% end %>
  <% elsif question.status == "closed" %>
    <p class="text-center">This question has been closed</p>
  <% else %>
    <p class="text-center">Game hasn't started. Wait a moment...</p>
  <% end %>
</div>
