<%= turbo_stream_from "setting_1" %>

<div class="sm:mx-auto sm:w-full sm:max-w-md px-4">
  <%= render "form", question: @question %>

  <% flash.each do |type, msg| %>
    <div data-controller="alert" class="text-center <%= type == 'notice' ? 'bg-green-200' : 'bg-red-200' %> px-2 py-1 mt-2">
      <%= msg %>
    </div>
  <% end %>
</div>
