@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  overflow: hidden;
}

.bg-gradient-custom {
  background: linear-gradient(#0c141f 40%, #cf33d9 41%, #0c141f 60%);
}

.perspective {
  perspective: 180px;
  perspective-origin: 50% 40%;
}

.landscape {
  position: absolute;
  width: 200%;
  left: -50%;
  height: 130%;
  bottom: -30%;
  background-image: -webkit-linear-gradient(top, #CF33D9 2px, transparent 2px), -webkit-linear-gradient(left, #CF33D9 2px, transparent 2px);
  background-size: 50px 50px, 80px 80px;
  background-position: -1px -1px, -1px -1px;
  transform: rotateX(85deg);
  animation: moveUp 1s infinite linear;
}

@keyframes moveUp{
  0% {
    background-position: -1px -1px, -1px -1px;
  }
  100% {
    background-position: -50px -50px, -1px -1px;
  }
}
