<!DOCTYPE html>
<html>
  <head>
    <title>Vicap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="audio" class="bg-gray-900 bg-gradient-custom">
    <main class="flex h-full items-center justify-center">
      <div class="w-full h-full absolute mx-auto perspective">
        <div class="landscape"></div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
