<!DOCTYPE html>
<html>
  <head>
    <title>Vicap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="text-lg">
    <header class="fixed top-0 left-0 h-16 w-full flex items-center justify-center">
      <h1 class="text-2xl text-pink-600 text-center">
        VICAP 2022
        <% if user_signed_in? %>
        - ID <%= current_user.username %>
        <% end %>
      </h1>
    </header>

    <main class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
      <%= yield %>
    </main>
  </body>
</html>
